* {
  margin: 0;
  padding: 0;
}

body {
  
  background-color: #60606036;
  color: rgb(8, 32, 150);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
}



a {
  text-decoration: none;
  color: rgb(0, 136, 255);
  padding: 30px;
}

a:hover {
  color: red;
  font-size: 1.05rem;
}

.left {
  font-size: 1.8rem;
  padding: 15px;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}

.first > div {
  width: 30%;
}

.rightSection {
  font-size: 3em;
}

.name {
  color: rgb(255, 0, 0);
  size: 45px;
}

#element {
  color: rgb(255, 0, 0);
}

hr {
  border: 0;
  background-color: rgb(17, 0, 255);
  height: 2px;
  margin: 33px 120px;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second h1 {
  margin: auto;
  font-size: xx-large;
}

.second p {
  /* display: flex; */
  font-weight: 300;
  font-size: x-large;

  color: rgb(96, 94, 94);
  margin: 10px;
  width: 1000px;
}
.rightPorstion {
  display: flex;
  align-items: center;
  justify-content: center;
} 
